<div class="light-gray">
<div class="space"></div>
<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <div class="card card-rect shade-hover">
                <div class="card-block header">
                    <h2>Resend confirmation instructions</h2>
                </div>

                <div class="card-block">
                    <%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="field">
                        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                    </div>

                    <div class="actions">
                        <%= f.submit "Resend confirmation instructions", class: 'btn btn-outline-orange' %>
                    </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="space"></div>
</div>
