<%= bootstrap_form_for @contact do |f| %>
    <%= f.text_field :name, required: true %>
    <%= f.email_field :email %>
    <%= f.email_field :secondary_email %>
    <div class="row">
        <div class="col-6">
            <%= f.telephone_field :cell %>
        </div>
        <div class="col-6">
            <%= f.telephone_field :work %>
        </div>
    </div>
    <%= f.text_field :company, required: true %>
    <%= f.text_field :company_details %>
    <%= f.text_field :role, required: true %>
    <div class="row">
        <div class="col-6">
            <%= f.url_field :linkedin %>
        </div>
        <div class="col-6">
            <%= f.url_field :facebook %>
        </div>
    </div>
    <%= f.check_box :long_term %>
    <%= f.text_area :notes, rows: '8' %>
    <%= f.submit 'Submit Contact', class: 'btn btn-outline-orange' %>
<% end %>
