<%= bootstrap_form_for @contact do |f| %>

    <div id="general-information">
        <%= f.text_field :name, required: true %>
        <%= f.text_field :company, required: true %>
        <%= f.text_field :company_details %>
        <%= f.text_field :role, required: true %>
        <%= f.check_box :long_term %>
    </div>

    <div id="contact-information">
        <%= f.email_field :email %>
        <%= f.email_field :secondary_email %>
        <div class="row">
            <div class="col-6">
                <%= f.telephone_field :cell %>
            </div>
            <div class="col-6">
                <%= f.telephone_field :work %>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <%= f.url_field :linkedin %>
            </div>
            <div class="col-6">
                <%= f.url_field :facebook %>
            </div>
        </div>
    </div>

    <div id="notes">
        <%= f.text_area :notes, rows: '8' %>
        <%= f.submit 'Submit Contact', class: 'btn btn-outline-orange' %>
    </div>
<% end %>
