<div class="space"></div>

<div class="container">
    <h2>Overview</h2>
    <% outreach_count = 0 %>
    <% response_count = 0 %>
    <% @contacts.each do |contact| %>
        <% outreach_count += contact.reaches.where(response: false).count %>
        <% response_count += contact.reaches.where(response: true).count %>
    <% end %>
    <p>
        Outreaches: <%= outreach_count %> | Responses: <%= response_count %>
    </p>
    <h2>Contacts</h2>
    <div class="half-space"></div>

    <div class="contact-list">
        <% @contacts.each do |contact| %>
        <div class="contact">
            <!-- header -->
            <div class="row">
                <div class="col-12">
                    <!-- contact information -->
                    <ul class="icons absolute absolute-right right">
                        <% if contact.email.present? %>
                            <li>
                                <a href="mailto:<%=contact.email%>">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                            </li>
                        <% end %>
                        <% if contact.cell.present? %>
                            <li>
                                <a href="tel:<%=contact.cell%>">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </a>
                            </li>
                        <% end %>
                        <% if contact.facebook.present? %>
                            <li>
                                <a href="<%=contact.facebook%>" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                        <% end %>
                        <% if contact.linkedin.present? %>
                            <li>
                                <a href="<%=contact.linkedin%>" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        <% end %>

                        <li>
                            <span class="badge badge-default" data-toggle="tooltip" data-placement="top" title="Outreaches">
                                <i class="fa fa-share"></i> <%= contact.reaches.where(response: false).count %>
                            </span>
                            <span class="badge badge-default" data-toggle="tooltip" data-placement="top" title="Responses">
                                <i class="fa fa-reply"></i> <%= contact.reaches.where(response: true).count %>
                            </span>
                        </li>
                    </ul>

                    <!-- name -->
                    <%= link_to contact do %>
                        <h4 class="inline"><%= contact.name %></h4>
                    <% end %>
                </div>
            </div>
            <p class="marg-bot-0">
                <%= contact.company %>
                <% if contact.company.present? and contact.role.present? %>
                    |
                <% end %>
                <%= contact.role %>
            </p>
        </div>
        <!-- closing contact -->
        <% end %>
    </div>
    <!-- closing contact list -->
</div>
<!-- closing container -->

<div class="space"></div>
<div class="space"></div>

<a href="<%=new_contact_path%>" class="bottom-right" data-toggle="tooltip" data-placement="left" title="Add a new contact">
    <i class="fa fa-fw fa-plus-circle orange-text" aria-hidden="true"></i>
</a>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
