<div class="light-gray">
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    <div class="container">

        <!-- overview -->
        <% unless params[:search] %>
        <div class="card card-rect shade-hover">
            <div class="card-block header">
                <h2>Overview</h2>
            </div>
            <!-- closing card header -->
            <div class="card-block">
                <h4>
                    <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Contacts">
                        <i class="fa fa-user"></i>
                        <%= @contacts.count %>
                    </span>
                    <% if @mentors %>
                    <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Long Term Mentors">
                        <i class="fa fa-user-plus"></i>
                        <%= @mentors.count %>
                    </span>
                    <% end %>
                    <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Outreaches">
                        <i class="fa fa-share"></i>
                        <%= @reaches.count %></span>
                    <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Responses">
                        <i class="fa fa-reply"></i>
                        <%= @responses.count %></span>
                </h4>

                <div class="half-space"></div>

                <!-- visualization -->
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <h4 class="center">Contacts over Time</h4>
                        <% contact_sum = 0 %>
                        <%= area_chart @contacts.order("DATE(created_at)").group("DATE(created_at)").count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (contact_sum += y)} }.reduce({}, :merge), xtitle: "Date", ytitle: "Number of Contacts", colors: ['#ffa366'] %>
                    </div>
                    <!-- closing first graph -->
                    <div class="col-12 col-lg-6">
                        <h4 class="center">Interaction over Time</h4>
                        <% outreach_sum = 0 %>
                        <% response_sum = 0 %>
                        <%= area_chart [ { name: "Responses", data: @responses.order("time").group("time").count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (response_sum += y)} }.reduce({}, :merge) }, { name: "Outreaches", data:
                        @reaches.order("time").group("time").count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (outreach_sum += y)} }.reduce({}, :merge) } ], xtitle: "Date", ytitle: "Reaches made", colors: ['#cc5200', '#ffa366'] %>
                    </div>
                    <!-- closing second graph -->
                </div>
                <!-- closing row for graphs -->
            </div>
            <!-- closing overview card block -->
        </div>
        <!-- closing overview card -->
        <% end %>
        <!-- close unless params[:search] -->

        <!-- space between contacts and overview -->
        <div class="space"></div>

        <!-- if this is a search, display contacts in the middle of the screen -->
        <% if params[:search] %>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="contact-list white shade-hover">
                    <div class="contact card-block header">
                        <h3>Contacts under '<%= params[:search] %>'</h3>
                    </div>
                    <!-- close contacts header -->

                    <% @contacts.each do |contact| %>
                    <div class="contact <%= 'gray' if contact.uninterested %>">
                        <!-- header -->
                        <div class="row">
                            <div class="col-12">
                                <!-- contact information -->
                                <ul class="icons absolute absolute-right right">
                                    <% if contact.email.present? %>
                                    <li>
                                        <a href="mailto:<%=contact.email%>">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.cell.present? %>
                                    <li>
                                        <a href="tel:<%=contact.cell%>">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.facebook.present? %>
                                    <li>
                                        <a href="<%=contact.facebook%>" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.linkedin.present? %>
                                    <li>
                                        <a href="<%=contact.linkedin%>" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>

                                    <li>
                                        <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Outreaches">
                                            <i class="fa fa-share"></i>
                                            <%= contact.reaches.where(response: false).count %>
                                        </span>
                                        <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Responses">
                                            <i class="fa fa-reply"></i>
                                            <%= contact.reaches.where(response: true).count %>
                                        </span>
                                    </li>
                                </ul>

                                <!-- name -->
                                <%= link_to contact do %>
                                <h4 class="inline"><%= contact.name %></h4>
                                <% end %>
                            </div>
                            <!-- closing column -->
                        </div>
                        <!-- closing row -->
                        <p class="marg-bot-0">
                            <%= contact.company %>
                            <% if contact.company.present? and contact.role.present? %>
                            |
                            <% end %>
                            <%= contact.role %>
                        </p>
                    </div>
                    <!-- closing contact -->
                    <% end %>
                    <!-- closing loop for contacts -->
                </div>
                <!-- closing contact list -->
            </div>
            <!-- closing surrounding col -->
        </div>
        <!-- closing surrounding row -->
        <% end %>
        <!-- closing logic checking if this is a search -->

        <!-- listing contacts -->
        <div class="row">
            <% if @short_term.present? or @uninterested.present? %>
            <div class="col-12 col-lg-6">
            <% end %>

                <!--
                    short term contact logic
                -->

                <% if @short_term and @short_term.present? %>
                <div class="contact-list white shade-hover">
                    <div class="contact card-block header">
                        <h3>Short-term Contacts</h3>
                    </div>
                    <!-- closing contact header -->

                    <% @short_term.each do |contact| %>
                    <div class="contact <%= 'gray' if contact.uninterested %>">
                        <!-- header -->
                        <div class="row">
                            <div class="col-12">
                                <!-- contact information -->
                                <ul class="icons absolute absolute-right right">
                                    <% if contact.email.present? %>
                                    <li>
                                        <a href="mailto:<%=contact.email%>">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.cell.present? %>
                                    <li>
                                        <a href="tel:<%=contact.cell%>">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.facebook.present? %>
                                    <li>
                                        <a href="<%=contact.facebook%>" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.linkedin.present? %>
                                    <li>
                                        <a href="<%=contact.linkedin%>" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>

                                    <li>
                                        <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Outreaches">
                                            <i class="fa fa-share"></i>
                                            <%= contact.reaches.where(response: false).count %>
                                        </span>
                                        <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Responses">
                                            <i class="fa fa-reply"></i>
                                            <%= contact.reaches.where(response: true).count %>
                                        </span>
                                    </li>
                                </ul>

                                <!-- name -->
                                <%= link_to contact do %>
                                <h4 class="inline"><%= contact.name %></h4>
                                <% end %>
                            </div>
                            <!-- closing col -->
                        </div>
                        <!-- closing row -->
                        <p class="marg-bot-0">
                            <%= contact.company %>
                            <% if contact.company.present? and contact.role.present? %>
                            |
                            <% end %>
                            <%= contact.role %>
                        </p>
                    </div>
                    <!-- closing contact -->
                    <% end %>
                    <!-- closing loop for contacts -->
                </div>
                <!-- closing contact list -->

                <!--
                    uninterested contact logic
                -->

                <% if @uninterested and @uninterested.present? %>
                <!-- listing uninterested -->
                <div class="contact-list white shade-hover">
                    <div class="contact card-block header cursor collapse-trigger" data-toggle="collapse" href="#uninterested-wrapper" aria-expanded="false" aria-controls="uninterested-wrapper">
                        <h3 class="inline">Uninterested Contacts</h3>
                        <i class="fa fa-chevron-up cursor gray-text absolute absolute-right"></i>
                    </div>

                    <div class="contacts-wrapper collapse" id="uninterested-wrapper">
                        <% @uninterested.each do |contact| %>
                        <div class="contact">
                            <!-- header -->
                            <div class="row">
                                <div class="col-12">
                                    <!-- contact information -->
                                    <ul class="icons absolute absolute-right right">
                                        <% if contact.email.present? %>
                                        <li>
                                            <a href="mailto:<%=contact.email%>">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <% end %>
                                        <% if contact.cell.present? %>
                                        <li>
                                            <a href="tel:<%=contact.cell%>">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <% end %>
                                        <% if contact.facebook.present? %>
                                        <li>
                                            <a href="<%=contact.facebook%>" target="_blank">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <% end %>
                                        <% if contact.linkedin.present? %>
                                        <li>
                                            <a href="<%=contact.linkedin%>" target="_blank">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <% end %>

                                        <li>
                                            <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Outreaches">
                                                <i class="fa fa-share"></i>
                                                <%= contact.reaches.where(response: false).count %>
                                            </span>
                                            <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Responses">
                                                <i class="fa fa-reply"></i>
                                                <%= contact.reaches.where(response: true).count %>
                                            </span>
                                        </li>
                                    </ul>

                                    <!-- name -->
                                    <%= link_to contact do %>
                                    <h4 class="inline"><%= contact.name %></h4>
                                    <% end %>
                                </div>
                            </div>
                            <p class="marg-bot-0">
                                <%= contact.company %>
                                <% if contact.company.present? and contact.role.present? %>
                                |
                                <% end %>
                                <%= contact.role %>
                            </p>
                        </div>
                        <!-- closing contact -->
                        <% end %>
                    </div>
                    <!-- closing contacts wrapper -->
                    <% end %>
                    <!-- closing loop over uninterested contacts -->

                </div>
                <!-- closing contacts list -->
                <% end %>
                <!-- closing uninterested logic -->

            <% if @short_term.present? or @uninterested.present? %>
            </div>
            <% end %>
            <!-- closing col around short term contacts -->

            <% if @mentors and @mentors.present? %>
            <!-- listing mentors -->
            <div class="col-12 col-lg-6">
                <div class="contact-list white shade-hover">
                    <div class="contact card-block header">
                        <h3>Long-term Mentors</h3>
                    </div>

                    <% @mentors.each do |contact| %>
                    <div class="contact <%= 'gray' if contact.uninterested %>">
                        <!-- header -->
                        <div class="row">
                            <div class="col-12">
                                <!-- contact information -->
                                <ul class="icons absolute absolute-right right">
                                    <% if contact.email.present? %>
                                    <li>
                                        <a href="mailto:<%=contact.email%>">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.cell.present? %>
                                    <li>
                                        <a href="tel:<%=contact.cell%>">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.facebook.present? %>
                                    <li>
                                        <a href="<%=contact.facebook%>" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>
                                    <% if contact.linkedin.present? %>
                                    <li>
                                        <a href="<%=contact.linkedin%>" target="_blank">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <% end %>

                                    <li>
                                        <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Outreaches">
                                            <i class="fa fa-share"></i>
                                            <%= contact.reaches.where(response: false).count %>
                                        </span>
                                        <span class="badge badge-default" data-toggle="tooltip" data-placement="bottom" title="Responses">
                                            <i class="fa fa-reply"></i>
                                            <%= contact.reaches.where(response: true).count %>
                                        </span>
                                    </li>
                                </ul>

                                <!-- name -->
                                <%= link_to contact do %>
                                <h4 class="inline"><%= contact.name %></h4>
                                <% end %>
                            </div>
                        </div>
                        <p class="marg-bot-0">
                            <%= contact.company %>
                            <% if contact.company.present? and contact.role.present? %>
                            |
                            <% end %>
                            <%= contact.role %>
                        </p>
                    </div>
                    <!-- closing contact -->
                    <% end %>
                </div>
                <!-- closing contact list -->
            </div>
            <!-- closing col -->
            <% end %>
        </div>
        <!-- closing row surrounding all contacts -->

        <div class="space"></div>
        <div class="buttons">
            <%= link_to new_contact_path do %>
            <button class="btn btn-outline-orange">
                Add a new contact
            </button>
            <% end %>
        </div>

        <!-- closing buttons -->
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>

    </div>
    <!-- closing container -->
</div>
<!-- closing light-gray -->

<div class="modal fade" id="search-modal" tabindex="-1" role="search" aria-labelledby="Search" aria-hidden="true">
    <div class="space"></div>
    <div class="space"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <%= bootstrap_form_tag url: contacts_path, method: 'get' do |f| %>
            <div class="input-group">
                <input class="form-control form-control-lg no-border-right" id="search" name="search" type="text" placeholder="Search...">
                <%= button_tag(type: "submit", class: "input-group-addon btn btn-outline-orange", name: nil) do %>
                <i class="fa fa-search"></i>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="bottom-right-above cursor" data-toggle="modal" data-target="#search-modal" aria-hidden="true">
    <span class="fa-stack fa-small">
        <i class="fa fa-circle fa-stack-2x orange-text icon-shade"></i>
        <i class="fa fa-search fa-stack-1x white-text"></i>
    </span>
</div>

<a href="<%= new_contact_path %>" class="bottom-right cursor">
    <span class="fa-stack fa-small">
        <i class="fa fa-circle fa-stack-2x orange-text icon-shade"></i>
        <i class="fa fa-plus fa-stack-1x white-text"></i>
    </span>
</a>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script type="text/javascript">
    $('#search-modal').on('shown.bs.modal', function () {
        $('#search').focus()
    })
</script>
