<div class="light-gray">
    <div class="space"></div>
    <div class="container">

        <div class="row">

            <div class="col-12 col-lg-6 marg-bot-50">
                <div class="card card-rect shade-hover">
                    <div class="card-block header <%= 'gray' if @contact.uninterested %>">
                        <h2 class="inline"><%= @contact.name %>
                            <% if @contact.long_term %>
                                <span class="fa-stack small-icons" data-toggle="tooltip" data-placement="right" title="Long-term Mentor">
                                    <i class="fa fa-certificate orange-text fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fa fa-check white-text fa-stack-1x" aria-hidden="true"></i>
                                </span>
                            <% end %>
                        </h2>

                        <div class="dropdown inline right float-right">
                            <i class="fa fa-chevron-down cursor gray-text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <% if @contact.uninterested.nil? or not @contact.uninterested %>
                                    <%= bootstrap_form_for @contact do |f| %>
                                        <%= f.hidden_field :uninterested, value: true %>
                                        <%= f.submit "Mark as uninterested", class: "dropdown-item cursor orange-text-hover" %>
                                    <% end %>
                                    <!-- close uninterested form -->
                                <% else %>
                                    <%= bootstrap_form_for @contact do |f| %>
                                        <%= f.hidden_field :uninterested, value: false %>
                                        <%= f.submit "Mark as interested", class: "dropdown-item cursor orange-text-hover" %>
                                    <% end %>
                                    <!-- close interested form -->
                                <% end %>
                                <!-- close interested logic -->
                                <% if @contact.long_term.nil? or not @contact.long_term %>
                                    <%= bootstrap_form_for @contact do |f| %>
                                        <%= f.hidden_field :long_term, value: true %>
                                        <%= f.submit "Mark as long-term", class: "dropdown-item cursor orange-text-hover" %>
                                    <% end %>
                                    <!-- close long term form -->
                                <% else %>
                                    <%= bootstrap_form_for @contact do |f| %>
                                        <%= f.hidden_field :long_term, value: false %>
                                        <%= f.submit "Unmark as long term", class: "dropdown-item cursor orange-text-hover" %>
                                    <% end %>
                                    <!-- close short term form -->
                                <% end %>
                                <!-- close long term logic -->

                                <%= link_to 'Edit contact', edit_contact_path(@contact), class: "dropdown-item" %>
                                <div class="dropdown-divider"></div>
                                <%= link_to 'Delete contact', contact_path, method: :delete, data: { confirm: 'Permanently delete user?' }, class: "dropdown-item" %>
                            </div>
                        </div>
                    </div>
                    <div class="card-block header">
                        <p class="date small">Contact created
                            <%= @contact.created_at.to_date.to_formatted_s(:long_ordinal) %>
                        </p>
                        <p>
                            <%= @contact.role %>
                            <%= ' | ' if @contact.role.present? and @contact.company.present? %>
                            <%= @contact.company %>
                            <%= ' | ' if @contact.company.present? and @contact.company_details.present? %>
                            <%= @contact.company_details %>
                        </p>

                        <% if @contact.email.present? and @contact.secondary_email.present? %>
                            <p>
                                <a href="mailto:<%=@contact.email%>">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <%= @contact.email %>
                                </a>
                                <br>
                                <a href="mailto:<%=@contact.secondary_email%>">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <%= @contact.secondary_email %>
                                </a>
                            </p>
                        <% elsif @contact.email.present? %>
                            <p>
                                <a href="mailto:<%=@contact.email%>">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <%= @contact.email %>
                                </a>
                            </p>
                        <% elsif @contact.secondary_email.present? %>
                            <p>
                                <a href="mailto:<%=@contact.secondary_email%>">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <%= @contact.secondary_email %>
                                </a>
                            </p>
                        <% end %>
                        <!-- closing email logic -->

                        <% if @contact.cell.present? and @contact.work.present? %>
                            <p>
                                Cell:
                                <a href="tel:<%=@contact.cell%>">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <%= @contact.cell %>
                                </a>
                                <br>
                                Work:
                                <a href="tel:<%=@contact.work%>">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <%= @contact.work %>
                                </a>
                            </p>
                        <% elsif @contact.cell.present? %>
                            <p>
                                Cell:
                                <a href="tel:<%=@contact.cell%>">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <%= @contact.cell %>
                                </a>
                            </p>
                        <% elsif @contact.work.present? %>
                            <p>
                                Work:
                                <a href="tel:<%=@contact.work%>">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <%= @contact.work %>
                                </a>
                            </p>
                        <% end %>
                        <!-- closing phone logic -->

                        <% if @contact.linkedin.present? %>
                            <a href="<%= @contact.linkedin %>" target="_blank">
                                <span class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="LinkedIn: <%= @contact.linkedin %>">
                                    <i class="fa fa-circle fa-stack-2x orange-text" aria-hidden="true"></i>
                                    <i class="fa fa-linkedin fa-stack-1x white-text" aria-hidden="true"></i>
                                </span>
                            </a>
                        <% end %>
                        <%= ' ' if @contact.linkedin.present? and @contact.facebook.present? %>
                        <% if @contact.facebook.present? %>
                            <a href="<%= @contact.facebook %>" target="_blank">
                                <span class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="Facebook: <%= @contact.facebook %>">
                                    <i class="fa fa-circle fa-stack-2x orange-text" aria-hidden="true"></i>
                                    <i class="fa fa-facebook fa-stack-1x white-text" aria-hidden="true"></i>
                                </span>
                            </a>
                        <% end %>
                        <!-- closing social media logic -->

                    </div>
                    <!-- Close info card block  -->
                    <div class="card-block header">
                        <h4 class="center">Interaction over Time</h4>
                        <% outreach_sum = 0 %>
                        <% response_sum = 0 %>
                        <%= area_chart [
                            { name: "Responses", data: @responses.order("time").group("time").count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (response_sum += y)} }.reduce({}, :merge) },
                            { name: "Outreaches", data: @reaches.order("time").group("time").count.to_a.sort{|x,y| x[0] <=> y[0]}.map { |x,y| { x => (outreach_sum += y)} }.reduce({}, :merge) } ],
                            xtitle: "Date", ytitle: "Reaches made", colors: ['#cc5200', '#ffa366']
                        %>
                    </div>
                    <!-- closing card block -->
                    <% if @contact.notes.present? %>
                        <div class="card-block">
                            <p class="gray-text"><%= @contact.notes %></p>
                        </div>
                    <% end %>
                </div>
                <!-- closing card -->
            </div>
            <!-- closing col -->

            <% if @contact.reaches.present? %>
                <div class="col-12 col-lg-6">
                    <div class="card card-rect shade-hover">
                        <div class="card-block header">
                            <h2>Contact History</h2>
                        </div>
                        <div class="card-block">
                            <div class="timeline">
                                <div class="cap"></div>
                                <div class="space"></div>

                                <% @history.each do |reach| %>
                                    <p class="date small">
                                        <%= reach.time.strftime("%m/%d/%Y") %>
                                    </p>
                                    <div class="marker <%= 'response' if reach.response %>"></div>
                                    <%= link_to contact_reach_path(@contact, reach), method: :delete do %>
                                        <i class="fa fa-times-circle fa-lg delete" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Delete reach"></i>
                                    <% end %>
                                    <div class="timeline-block">
                                        <p class="notes">
                                            <%= reach.notes %>
                                        </p>
                                    </div>
                                <% end %>

                                <div class="half-space"></div>
                                <div class="cap"></div>
                            </div>
                            <!-- closing timeline -->
                        </div>
                        <!-- closing card-block -->
                    </div>
                    <!-- closing card -->
                </div>
                <!-- closing col -->
            <% end %>
            <!-- closing checking for reaches -->
        </div>
        <!-- closing row -->
    </div>
    <!-- closing container -->

    <div class="space"></div>
    <div class="space"></div>

    <!-- New reach model -->
    <div class="modal fade" id="reachForm" tabindex="-1" role="dialog" aria-labelledby="New reach form" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new outreach</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= bootstrap_form_for [@contact, @contact.reaches.new] do |f| %>
                        <%= f.date_select :time, label: "Date" %>
                        <%= f.form_group :response do %>
                            <%= f.check_box :response %>
                        <% end %>
                        <%= f.text_area :notes, placeholder: 'Add a comment...', hide_label: true %>
                        <div class="buttons">
                            <%= f.submit "Create outreach", class: 'btn btn-outline-orange' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <!-- closing modal -->

    <div class="bottom-right" aria-hidden="true">
        <i class="fa fa-circle white-text icon-shade scale-down" aria-hidden="true"></i>
    </div>
    <div class="cursor bottom-right" data-toggle="tooltip" data-placement="left" title="Add a new outreach">
        <i class="fa fa-plus-circle orange-text" data-toggle="modal" data-target="#reachForm" aria-hidden="true"></i>
    </div>
</div>
<!-- closing light-gray -->

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
