<!-- graphic in top left -->
<div class="navbar-backer transparent-orange-50 navbar-backer-skew"></div>
<div class="navbar-backer transparent-orange-25 navbar-backer-skew"></div>
<div class="navbar-backer orange"></div>
<div class="navbar-backer orange navbar-backer-skew"></div>
<a class="brand-header to-front varela white-text" href="<%= root_path %>">
    Outreach
</a>

<div class="upper-right-skew orange"></div>
<div class="upper-right-skew transparent-orange-50"></div>
<div class="upper-right-skew transparent-orange-25"></div>
<div class="upper-right-nav">
    <ul class="links">
        <% if current_user.nil? %>
            <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path %>
            </li>

            <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Contacts', contacts_path %>
            </li>

            <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </li>
        <% end %>
    </ul>
</div>

<script type="text/javascript">
    $('.upper-right-skew').width($('.upper-right-nav').width());
</script>
