<!DOCTYPE html>
<html>
    <head>
        <title>Outreach</title>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <script src="https://use.fontawesome.com/297cffcc6b.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'layouts/header' %>

        <div class="space"></div>

        <div class="container display-none no-pad no-marg" id="alerts">
            <div class="row">
                <div class="col-10 push-1 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <% flash.each do |name, msg| %>
                        <%= content_tag :div, msg, class: [:alert, alert_for(name)]%>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="container">
            <%= yield %>
        </div>


        <%= render 'layouts/footer' %>

        <script>
            $(document).ready(function() {
                $('#alerts').slideDown(250).delay(1250).slideUp(250);
            });
        </script>
    </body>
</html>
